{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-p-90-90">
    <div class="container">
        {% if cart_items %}
        {{ cart_items }}
        <br>
        <br>
        {{ request.session.cart }}
        <div class="lp-cart-table">
            <div class="lp-cart-table-header">
                <div class="row">
                    <div class="col-lg-6">Product</div>
                    <div class="col-lg-3">Quantity</div>
                    <div class="col-lg-1">Price</div>
                    <div class="col-lg-1">Subtotal</div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            {% for item in cart_items %}
            <div class="lp-cart-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <a class="lp-product" href="#">
                            <div class="lp-cover-frame">
                                <img src="{{ item.product.image.url}}" alt="{{ item.product.name }}">
                            </div>
                            <div class="lp-prod-description">
                                <h4 class="lp-mb-10">{{ item.product.name }}</h4>
                                <p class="lp-text lp-text-sm">Size:
                                    {% if item.product.has_size %}{{ item.size }}{% else %}N/A{% endif %}</p>
                                <p class="lp-text lp-text-sm">{{ item.product.ingredients|truncatechars:30 }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3">
                        <form class="form update-form" method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group lp-buttons-frame">
                                <div class="input-group lp-input-number-frame">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty lp-input-number-btn"
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                        value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty lp-input-number-btn"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    {% if item.product.has_sizes %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3 col-lg-1">
                        <div class="lp-price-1">{{ item.product.price }}</div>
                    </div>
                    <div class="col-3 col-lg-1">
                        <div class="lp-price-2">{{ item.product.price }}</div>
                    </div>
                    <div class="col-1">
                        <a class="lp-update"><small><i class="fa-solid fa-rotate-right fa-xs"></i></small></a>
                        <a class="lp-remove" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small><i class="fa-solid fa-xmark fa-xs"></i></small></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    <div class="lp-cart-total">
                        <div class="lp-sum">
                            <div class="row">
                                <div class="col-8">
                                    <div class="lp-total-title">Subtotal:</div>
                                </div>
                                <div class="col-4">
                                    <div class="lp-price-1 text-right">€ {{ total|floatformat:2 }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="lp-sum">
                            <div class="row">
                                {% if free_delivery_delta > 0 %}
                                <p class="lp-total-title text-warning">
                                    Spend € {{ free_delivery_delta }} more, and get free delivery!
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="lp-sum">
                            <div class="row">
                                <div class="col-8">
                                    <div class="lp-total-title">Delivery Fee:</div>
                                </div>
                                <div class="col-4">
                                    <div class="lp-price-1 text-right">€ {{ delivery|floatformat:2 }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="lp-realy-sum">
                            <div class="row">
                                <div class="col-8">
                                    <div class="lp-total-title">Total:</div>
                                </div>
                                <div class="col-4">
                                    <div class="lp-price-2 text-right">€ {{ grand_total|floatformat:2 }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lp-cart-btns-frame text-right">
                        <!-- button -->
                        <a href="{% url 'menu' %}" class="lp-btn lp-btn-2 lp-btn-gray">
                            <span class="lp-icon">
                                <img src="/media/arrow-2.svg" alt="icon">
                            </span>
                            <span>Continue shopping</span>
                        </a>
                        <!-- button end -->
                        <!-- button -->
                        <a href="#" class="lp-btn lp-m-0">
                            <span class="lp-icon">
                                <img src="/media/arrow.svg" alt="icon">
                            </span>
                            <span>Checkout</span>
                        </a>
                        <!-- button end -->
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <h3 class="lp-mb-25">Your cart is empty!</h3>
            <a href="{% url 'menu' %}" class="lp-btn lp-btn-gray">
                <span class="lp-icon">
                    <img src="/media/arrow-2.svg" alt="icon">
                </span>
                <span>Continue shopping</span>
            </a>
        </div>
        {% endif %}
    </div>
</section>

<!-- footer -->
<footer>
    <div class="container">
        <div class="lp-footer-frame">
            <a href="#" class="lp-logo-frame">
                <!-- logo img -->
                <h4 class="logo-font text-black my-0"><img src="/media/logo-pizza.svg" alt="Pizza slice">
                    <strong>Luigi's</strong> Pizza</h4>
            </a>
            <ul class="lp-social">
                <li><a href="#."><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#."><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#."><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#."><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
            <div class="lp-copy">&copy; 2023 Luigi's Pizza. All Rights Reserved.</div>
        </div>
    </div>
</footer>
<!-- footer end -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.lp-update').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.lp-remove').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/cart/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });
</script>
{% endblock %}
