{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-p-90-90">
    <div class="container">
        {% if cart_items %}
        <div class="d-block d-md-none">
            <div class="col">
                {% include 'cart/checkout_buttons.html' %}
                <p class="text-muted mb-3">A summary of your bag contents is below</p>
            </div>
            <div class="col">
                {% include 'cart/cart_total.html' %}
            </div>
            {% for item in cart_items %}
            <div class="col-12 col-sm-6 mb-2">
                {% include 'cart/product_image.html' %}
            </div>
            <div class="col-12 col-sm-6 mb-2">
                {% include 'cart/product_info.html' %}
            </div>
            <div class="col-12 col-sm- order-sm-last">
                <p class="lp-price-1"><strong>Price:</strong> ${{ item.product.price }}</p>
                <p class="lp-price-2"><strong>Subtotal:</strong> ${{ item.product.price | calc_qty_total:item.quantity }}</p>
            </div>
            <div class="col-12 col-sm-6">
                {% include 'cart/quantity_form.html' %}
            </div>
            <div class="row"><div class="col"><hr></div></div>
            {% endfor %}
        </div>
        <div class="table-responsive table-borderless d-none d-md-block">
            <table class="table table-sm ">
                <thead class="text-black">
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col" class="text-center">Qty</th>
                        <th scope="col" class="float-right">Subtotal</th>
                    </tr>
                </thead>
                {% for item in cart_items %}
                <tr>
                    <tr class="py-3 lp-cart-separator-start"></tr>
                    <td class="py-3 w-20">
                        {% include 'cart/product_image.html' %}
                    </td>
                        {% include 'cart/product_info.html' %}
                    <td class="py-3">
                        <div class="lp-price-1">${{ item.product.price }}</div>
                    </td>
                    <td class="py-3 w-20">
                        {% include 'cart/quantity_form.html' %}
                    </td>
                    <td class="py-3 float-right">
                        <div class="lp-price-2">${{ item.product.price | calc_qty_total:item.quantity }}</div>
                    </td>
                </tr>
                <tr class="py-3 lp-cart-separator-end"></tr>
                {% endfor %}
            </table>
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    {% include 'cart/cart_total.html' %}
                    {% include 'cart/checkout_buttons.html' %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <h3 class="lp-mb-25">Your cart is empty!</h3>
            <a href="{% url 'menu' %}" class="lp-btn lp-btn-gray">
                <span class="lp-icon">
                    <img src="{{ MEDIA_URL }}arrow-2.svg" alt="icon">
                </span>
                <span>Continue shopping</span>
            </a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.lp-update').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.lp-remove').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}