{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-p-90-90">
    <div class="container">
        {% if cart_items %}
        <div class="table-responsive table-borderless">
            <table class="table table-sm ">
                <thead class="text-black">
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col" class="text-center">Qty</th>
                        <th scope="col" class="float-right">Subtotal</th>
                    </tr>
                </thead>
                {% for item in cart_items %}
                <tr>
                    <tr class="py-3 lp-cart-separator-start"></tr>
                    <td class="py-3 w-20">
                        {% if item.product.image %}
                        <img height="120px" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                        <img height="120px" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </td>
                    <td class="py-3 w-25">
                        <h4 class="lp-mb-10">{{ item.product.name }}</h4>
                        <p class="lp-text lp-text-sm"><strong>Size:
                        </strong>{% if item.size %}{{ item.size|upper }}{% else %} N/A{% endif %}</p>
                        <p class="lp-text lp-text-sm">{{ item.product.ingredients|truncatechars:30 }}</p>
                    </td>
                    <td class="py-3">
                        <div class="lp-price-1">${{ item.product.price }}</div>
                    </td>
                    <td class="py-3 w-20">
                        {% include 'cart/quantity_form.html' %}
                        <a class="lp-update text-info"><small>Update</small></a>
                        <a class="lp-remove text-danger float-right" id="remove_{{ item.item_id }}"
                            data-product_size="{{ item.size }}"><small>Remove</small></a>
                    </td>
                    <td class="py-3 float-right">
                        <div class="lp-price-2">${{ item.product.price | calc_qty_total:item.quantity }}</div>
                    </td>
                </tr>
                <tr class="py-3 lp-cart-separator-end"></tr>
                {% endfor %}
            </table>
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    {% include 'cart/cart_total.html' %}
                    {% include 'cart/checkout_buttons.html' %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <h3 class="lp-mb-25">Your cart is empty!</h3>
            <a href="{% url 'menu' %}" class="lp-btn lp-btn-gray">
                <span class="lp-icon">
                    <img src="/media/arrow-2.svg" alt="icon">
                </span>
                <span>Continue shopping</span>
            </a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.lp-update').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.lp-remove').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}