{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- banner -->
<section class="lp-banner">
    <div class="lp-bg-1">
        <div></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- main title -->
                <div class="lp-main-title-frame">
                    <div class="lp-main-title">
                        <span class="lp-suptitle lp-mb-30">Hi, new friend!</span>
                        <h1 class="lp-mb-30">We do not <span>cook</span>, <br>we <span>create</span> your
                            <br>emotions!</h1>
                        <p class="lp-text lp-text-lg lp-mb-30">Consectetur numquam poro nemo veniam<br>eligendi rem
                            adipisci quo modi.</p>
                        <!-- button -->
                        <a href="#" class="lp-btn">
                            <span class="lp-icon">
                                <img src="/media/menu.svg" alt="icon">
                            </span>
                            <span>Our menu</span>
                        </a>
                        <!-- button end -->
                        <!-- button -->
                        <a href="about-1.html" class="lp-btn lp-btn-2 lp-btn-gray">
                            <span class="lp-icon">
                                <img src="/media/arrow.svg" alt="icon">
                            </span>
                            <span>About us</span>
                        </a>
                        <!-- button end -->
                    </div>
                </div>
                <!-- main title end -->
            </div>
            <div class="col-lg-6">
                <div class="lp-img-banner">
                    <img src="/media/place-holder.jpg" alt="" class="lp-banner-img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner end -->

<!-- features -->
<section class="p-30-30">
    <div class="container">
        <div class="row flex-md-row-reverse">
            <div class="col-lg-6 align-self-center lp-mb-30">
                <h2 class="lp-mb-60">We are doing more than <br>you expect</h2>
                <ul class="lp-features">
                    <li class="lp-features-item lp-mb-60">
                        <div class="lp-number">01</div>
                        <div class="lp-feature-text">
                            <h3 class="lp-mb-15">We are located in the city center</h3>
                            <p class="lp-text">Porro nemo veniam necessitatibus praesentium eligendi rem temporibus
                                adipisci quo modi numquam.</p>
                        </div>
                    </li>
                    <li class="lp-features-item lp-mb-60">
                        <div class="lp-number">02</div>
                        <div class="lp-feature-text">
                            <h3 class="lp-mb-15">Fresh, organic ingredients</h3>
                            <p class="lp-text">Consectetur numquam porro nemo veniam necessitatibus praesentium
                                eligendi rem temporibus adipisci quo modi.</p>
                        </div>
                    </li>
                    <li class="lp-features-item lp-mb-60">
                        <div class="lp-number">03</div>
                        <div class="lp-feature-text">
                            <h3 class="lp-mb-15">Own fast delivery</h3>
                            <p class="lp-text">Necessitatibus praesentium eligendi rem temporibus adipisci quo modi.
                                Lorem ipsum dolor sit.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="lp-illustration-about lp-mb-90">
                    <img src="/media/place-holder.jpg" alt="Restaurant Photo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features end -->

<!-- categories -->
<section class="p-30-30">
    <div class="container">
        <div class="lp-group-title lp-mb-30">
            <div class="lp-left lp-mb-30">
                <h2 class="lp-mb-30">What do you <span>like today?</span></h2>
                <p class="lp-text">Consectetur numquam poro nemo veniam<br>eligendi rem adipisci quo modi.</p>
            </div>
            <div class="lp-right lp-mb-30">
                <!-- button -->
                <a href="#" class="lp-btn lp-m-0">
                    <span class="lp-icon">
                        <img src="/media/arrow.svg" alt="icon">
                    </span>
                    <span>Go shopping now</span>
                </a>
                <!-- button end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="#" class="lp-categorie-card lp-categorie-card-2 lp-mb-30">
                    <div class="lp-card-body">
                        <div class="lp-category-icon">
                            <img src="/media/1.png" alt="icon">
                        </div>
                        <div class="lp-card-descr">
                            <h3 class="lp-mb-10">Starters</h3>
                            <p class="lp-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="shop-list-1.html" class="lp-categorie-card lp-categorie-card-2 lp-mb-30">
                    <div class="lp-card-body">
                        <div class="lp-category-icon">
                            <img src="/media/2.png" alt="icon">
                        </div>
                        <div class="lp-card-descr">
                            <h3 class="lp-mb-10">Main dishes</h3>
                            <p class="lp-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="shop-list-1.html" class="lp-categorie-card lp-categorie-card-2 lp-mb-30">
                    <div class="lp-card-body">
                        <div class="lp-category-icon">
                            <img src="/media/3.png" alt="icon">
                        </div>
                        <div class="lp-card-descr">
                            <h3 class="lp-mb-10">Drinks</h3>
                            <p class="lp-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="shop-list-1.html" class="lp-categorie-card lp-categorie-card-2 lp-mb-30">
                    <div class="lp-card-body">
                        <div class="lp-category-icon">
                            <img src="/media/4.png" alt="icon">
                        </div>
                        <div class="lp-card-descr">
                            <h3 class="lp-mb-10">Desserts</h3>
                            <p class="lp-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- categories end -->

<!-- short menu -->
<section class="lp-short-menu p-60-60">
    <div class="lp-bg-2">
        <div></div>
    </div>
    <div class="container">
        <div class="lp-group-title lp-mb-30">
            <div class="lp-left lp-mb-30">
                <h2 class="lp-mb-30">Most <span>popular</span> dishes</h2>
                <p class="lp-text">Consectetur numquam poro nemo veniam<br>eligendi rem adipisci quo modi.</p>
            </div>
            <div class="lp-right lp-mb-30">
                <!-- slider navigation -->
                <div class="lp-slider-nav">
                    <div class="lp-prev-btn lp-short-menu-prev"><i class="fas fa-arrow-left"></i></div>
                    <div class="lp-next-btn lp-short-menu-next"><i class="fas fa-arrow-right"></i></div>
                </div>
                <!-- slider navigation end -->
                <!-- button -->
                <a href="#" class="lp-btn">
                    <span class="lp-icon">
                        <img src="/media/menu.svg" alt="icon">
                    </span>
                    <span>Full menu</span>
                </a>
                <!-- button end -->
            </div>
        </div>
        <div class="swiper-container lp-short-menu-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a data-fancybox="menu" data-no-swup href="/media/pizza.jpeg" class="lp-menu-item">
                        <div class="lp-cover-frame">
                            <img src="/media/pizza.jpeg" alt="product">
                        </div>
                        <div class="lp-card-tp">
                            <h5 class="lp-card-title">Carpaccio de daurade</h5>
                            <div class="lp-price">14<sub>€</sub></div>
                        </div>
                        <div class="lp-description">
                            <p class="lp-text lp-mb-15"><span>tomatoes</span>, <span>nori</span>, <span>feta
                                    cheese</span>, <span>mushrooms</span>, <span>rice noodles</span>,
                                <span>corn</span>, <span>shrimp</span>.</p>
                            <ul class="lp-stars">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox="menu" data-no-swup href="/media/pizza.jpeg" class="lp-menu-item">
                        <div class="lp-cover-frame">
                            <img src="/media/pizza.jpeg" alt="product">
                        </div>
                        <div class="lp-card-tp">
                            <h5 class="lp-card-title">Chevrefrit au miel</h5>
                            <div class="lp-price"><sub>€</sub> 14</div>
                        </div>
                        <div class="lp-description">
                            <p class="lp-text lp-mb-15"><span>tomatoes</span>, <span>nori</span>, <span>feta
                                    cheese</span>, <span>mushrooms</span>, <span>rice noodles</span>,
                                <span>corn</span>, <span>shrimp</span>.</p>
                            <ul class="lp-stars">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox="menu" data-no-swup href="/media/pizza.jpeg" class="lp-menu-item">
                        <div class="lp-cover-frame">
                            <img src="/media/pizza.jpeg" alt="product">
                            <div class="lp-badge lp-vegan"><i class="fas fa-leaf"></i> Vegan</div>
                        </div>
                        <div class="lp-card-tp">
                            <h5 class="lp-card-title">Saumon Gravlax</h5>
                            <div class="lp-price"><sub>€</sub> 9</div>
                        </div>
                        <div class="lp-description">
                            <p class="lp-text lp-mb-15"><span>tomatoes</span>, <span>nori</span>, <span>feta
                                    cheese</span>, <span>mushrooms</span>, <span>rice noodles</span>,
                                <span>corn</span>, <span>shrimp</span>.</p>
                            <ul class="lp-stars">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox="menu" data-no-swup href="/media/pizza.jpeg" class="lp-menu-item">
                        <div class="lp-cover-frame">
                            <img src="/media/pizza.jpeg" alt="product">
                            <div class="lp-badge lp-hot"><i class="fas fa-pepper-hot"></i> Hot</div>
                        </div>
                        <div class="lp-card-tp">
                            <h5 class="lp-card-title">Croustillant de poisson</h5>
                            <div class="lp-price"><sub>€</sub> 4</div>
                        </div>
                        <div class="lp-description">
                            <p class="lp-text lp-mb-15"><span>tomatoes</span>, <span>nori</span>, <span>feta
                                    cheese</span>, <span>mushrooms</span>, <span>rice noodles</span>,
                                <span>corn</span>, <span>shrimp</span>.</p>
                            <ul class="lp-stars">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox="menu" data-no-swup href="/media/pizza.jpeg" class="lp-menu-item">
                        <div class="lp-cover-frame">
                            <img src="/media/pizza.jpeg" alt="product">
                            <div class="lp-badge lp-vegan"><i class="fas fa-leaf"></i> Vegan</div>
                        </div>
                        <div class="lp-card-tp">
                            <h5 class="lp-card-title">Carpaccio de daurade</h5>
                            <div class="lp-price"><sub>€</sub> 6</div>
                        </div>
                        <div class="lp-description">
                            <p class="lp-text lp-mb-15"><span>tomatoes</span>, <span>nori</span>, <span>feta
                                    cheese</span>, <span>mushrooms</span>, <span>rice noodles</span>,
                                <span>corn</span>, <span>shrimp</span>.</p>
                            <ul class="lp-stars">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox="menu" data-no-swup href="/media/pizza.jpeg" class="lp-menu-item">
                        <div class="lp-cover-frame">
                            <img src="/media/pizza.jpeg" alt="product">
                        </div>
                        <div class="lp-card-tp">
                            <h5 class="lp-card-title">Stracciatella</h5>
                            <div class="lp-price"><sub>€</sub> 11</div>
                        </div>
                        <div class="lp-description">
                            <p class="lp-text lp-mb-15"><span>tomatoes</span>, <span>nori</span>, <span>feta
                                    cheese</span>, <span>mushrooms</span>, <span>rice noodles</span>,
                                <span>corn</span>, <span>shrimp</span>.</p>
                            <ul class="lp-stars">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- short menu end -->

<!-- promo -->
<section class="lp-0-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lp-promo-frame lp-mb-30">
                    <div class="lp-promo-content">
                        <div class="lp-text-frame">
                            <h3 class="lp-mb-10"><sup>-</sup> <b class="lp-h2">20</b> <sup>%</sup></h3>
                            <h3 class="lp-mb-15">Discount for all* orders!</h3>
                            <p class="lp-text lp-text-sm lp-mb-15">*Promo only for delivery.</p>
                            <!-- button -->
                            <a href="#" class="lp-btn lp-ppc">
                                <span class="lp-icon">
                                    <img src="/media/arrow.svg" alt="icon">
                                </span>
                                <span>Get it now</span>
                            </a>
                            <!-- button end -->
                        </div>
                        <div class="lp-image-frame">
                            <div class="lp-illustration-promo">
                                <img src="/media/pizza-delivery.png" alt="pizza delivery" class="lp-promo-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lp-promo-frame lp-mb-30">
                    <div class="lp-promo-content">
                        <div class="lp-text-frame">
                            <h3 class="lp-mb-15">Reserve and get a drink*</h3>
                            <h2 class="lp-mb-10">For free!</h2>
                            <p class="lp-text lp-text-sm lp-mb-15">*Only for online reservations.</p>
                            <!-- button -->
                            <a href="#" class="lp-btn lp-ppc">
                                <span class="lp-icon">
                                    <img src="/media/arrow.svg" alt="icon">
                                </span>
                                <span>Book a Table</span>
                            </a>
                            <!-- button end -->
                        </div>
                        <div class="lp-image-frame">
                            <div class="lp-illustration-promo">
                                <img src="/media/cocktail.png" alt="cocktail" class="lp-promo-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- promo end -->

<!-- footer -->
<footer>
    <div class="container">
        <div class="lp-footer-frame">
            <a href="{% url 'home' %}" class="lp-logo-frame">
                <!-- logo img -->
                <h4 class="logo-font text-black my-0"><img src="/media/logo-pizza.svg" alt="Pizza slice">
                    <strong>Luigi's</strong> Pizza</h4>
            </a>
            <ul class="lp-social">
                <li><a href="#."><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#."><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#."><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#."><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
            <div class="lp-copy">&copy; late 2021 Starbelly. All Rights Reserved.</div>
        </div>
    </div>
</footer>
<!-- footer end -->
{% endblock %}