{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="lp-banner">
    <div class="container lp-p-60-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="lp-main-title-frame">
                    <div class="lp-main-title">
                        {% if request.user.is_authenticated %}
                        <span class="lp-suptitle lp-mb-30">Hi, {{ user }}!</span>
                        {% else %}
                        <span class="lp-suptitle lp-mb-30">Hi, new friend!</span>
                        {% endif %}
                        <h1 class="lp-mb-30">Welcome to the,<br>best pizza in<br><span>Dublin!</span></h1>
                        <p class="lp-text lp-text-lg lp-mb-30">Looking for the best pizza in town? Look no further than our restaurant!<br>We offer a wide variety of pizzas, from classic pepperoni to unique specialty pizzas.</p>
                        <a href="{% url 'menu' %}" class="lp-btn">
                            <span class="lp-icon">
                                <img src="{{ MEDIA_URL }}menu.svg" alt="icon">
                            </span>
                            <span>Our menu</span>
                        </a>
                        <a href="{% url 'about' %}" class="lp-btn lp-btn-2 lp-btn-gray">
                            <span class="lp-icon">
                                <img src="{{ MEDIA_URL }}arrow.svg" alt="icon">
                            </span>
                            <span>About us</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lp-img-banner">
                    <img src="{{ MEDIA_URL }}pizzeria.jpeg" alt="" class="lp-banner-img">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="p-30-30">
    <div class="container">
        <div class="row flex-md-row-reverse">
            <div class="col-lg-6 align-self-center lp-mb-30">
                <h2 class="lp-mb-60">We are doing more than <br>you expect</h2>
                <ul class="lp-features">
                    <li class="lp-features-item lp-mb-60">
                        <div class="lp-number">01</div>
                        <div class="lp-feature-text">
                            <h3 class="lp-mb-15">We are located in the city center</h3>
                            <p class="lp-text">We're committed to making Luigi's Pizza your go-to spot for pizza in
                                Dublin City Center. We hope you'll come in and see us soon!</p>
                        </div>
                    </li>
                    <li class="lp-features-item lp-mb-60">
                        <div class="lp-number">02</div>
                        <div class="lp-feature-text">
                            <h3 class="lp-mb-15">Fresh, organic ingredients</h3>
                            <p class="lp-text">We're committed to using the finest ingredients in our pizzas. Our dough
                                is made fresh daily, and our sauce is made with vine-ripened tomatoes.</p>
                        </div>
                    </li>
                    <li class="lp-features-item lp-mb-60">
                        <div class="lp-number">03</div>
                        <div class="lp-feature-text">
                            <h3 class="lp-mb-15">Own fast delivery</h3>
                            <p class="lp-text">We're proud to offer our own fast delivery service. We know that you want
                                your pizza as soon as possible, and we're here to make sure that you get it.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="lp-illustration-about lp-mb-90">
                    <img src="{{ MEDIA_URL }}pizza-board.jpeg" alt="Restaurant Photo">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lp-call-to-action bg-light">
    <div class="lp-bg-3"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="lp-cta-text mt-4">
                    <h2 class="lp-mb-30">Signup for our newsletter!</h2>
                    <p class="lp-text lp-mb-30">And be the first to find out<br>the latest deals and newest products.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div id="signup_success">
                </div>
                <form action="{% url 'sign_up_newsletter' %}" method="POST" class="mt-3" id="sign_up_newsletter">
                    {% csrf_token %}
                    {{ subscribe_form.full_name | as_crispy_field }}
                    {{ subscribe_form.email_address | as_crispy_field }}
                    <button class="float-right lp-btn mt-3" type="submit">
                        <span class="lp-icon">
                            <i class="fa-regular fa-envelope fa-xl"></i>
                        </span>
                        <span class="font-weight-bold">Sign Up</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="lp-short-menu p-60-60">
    <div class="lp-bg-2">
        <div></div>
    </div>
    <div class="container">
        <div class="lp-group-title lp-mb-30">
            <div class="lp-left lp-mb-30">
                <h2 class="lp-mb-30">Most <span>popular</span> pizza's</h2>
            </div>
            <div class="lp-right lp-mb-30">
                <div class="lp-slider-nav">
                    <div class="lp-prev-btn lp-short-menu-prev"><i class="fas fa-arrow-left"></i></div>
                    <div class="lp-next-btn lp-short-menu-next"><i class="fas fa-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <div class="swiper-container lp-short-menu-slider">
            <div class="swiper-wrapper">
                {% for product in pizza_products %}
                <div class="swiper-slide">
                    <div class="lp-menu-item">
                        {% if product.image %}
                        <div class="lp-cover-frame">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% if product.vegetarian == True %}
                            <div class="lp-badge lp-vegan"><i class="fas fa-leaf"></i> Vegeterian</div>
                            {% elif product.spicy == True %}
                            <div class="lp-badge lp-hot"><i class="fas fa-pepper-hot"></i> Spicy</div>
                            {% else %}
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="lp-cover-frame">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </div>
                        {% endif %}

                        <div class="lp-card-tp">
                            <h5 class="lp-card-title">{{ product.name}}</h5>
                            <div class="lp-price">${{ product.price }}</div>
                        </div>
                        <div class="lp-description">
                            <p class="lp-text lp-mb-15">{{ product.ingredients|truncatechars:50 }}</p>
                        </div>
                        <div class="lp-card-buttons-frame">
                            <a href="{% url 'menu_item' product.id %}" class="lp-btn lp-btn-gray">
                                <span class="lp-icon">
                                    <img src="{{ MEDIA_URL }}arrow.svg" alt="icon">
                                </span>
                                <span>See more</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="lp-0-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lp-promo-frame lp-mb-30">
                    <div class="lp-promo-content">
                        <div class="lp-text-frame">
                            <h3 class="lp-mb-10"><b class="lp-h2">FREE</b></h3>
                            <h3 class="lp-mb-15">Delivery for all orders!*</h3>
                            <p class="lp-text lp-text-sm lp-mb-15">*Orders over €{{ free_delivery_threshold }}.</p>
                            <a href="{% url 'menu' %}" class="lp-btn">
                                <span class="lp-icon">
                                    <img src="{{ MEDIA_URL }}arrow.svg" alt="icon">
                                </span>
                                <span>Get it now</span>
                            </a>
                        </div>
                        <div class="lp-image-frame">
                            <div class="lp-illustration-promo">
                                <img src="{{ MEDIA_URL }}pizza-delivery.png" alt="pizza delivery" class="lp-promo-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lp-promo-frame lp-mb-30">
                    <div class="lp-promo-content">
                        <div class="lp-text-frame">
                            <h3 class="lp-mb-10">Reserve and get a drink*</h3>
                            <h2 class="lp-mb-15">For free!</h2>
                            <p class="lp-text lp-text-sm lp-mb-15">*Only for online reservations.</p>
                            <a href="{% url 'about' %}" class="lp-btn">
                                <span class="lp-icon">
                                    <img src="{{ MEDIA_URL }}arrow.svg" alt="icon">
                                </span>
                                <span>Book a Table</span>
                            </a>
                        </div>
                        <div class="lp-image-frame">
                            <div class="lp-illustration-promo">
                                <img src="{{ MEDIA_URL }}cocktail.png" alt="cocktail" class="lp-promo-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'home/includes/sign_up_newsletter.html' %}
{% endblock %}