{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-p-90-90">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="lp-mb-30">
                    <h3>Your order details</h3>
                    <p class="lp-text lp-text-sm">A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="lp-mb-30">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <ul class="lp-list">
                                <li><b>Order Number</b><span>{{ order.order_number }}</span></li>
                                <li><b>Order Date</b><span>{{ order.date }}</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="lp-mb-30">Order Details:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <ul class="lp-list">
                                {% for item in order.lineitems.all %}
                                <li><b>{{ item.product.name }}</b><span>{{ item.quantity }} @ ${{ item.product.price }} each</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="lp-mb-30">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <ul class="lp-list">
                                <li><b>Full Name</b><span>{{ order.full_name }}</span></li>
                                <li><b>Address 1</b><span>{{ order.street_address1 }}</span></li>
                                {% if order.street_address2 %}
                                <li><b>Address 2</b><span>{{ order.street_address2 }}</span></li>
                                {% endif %}
                                {% if order.county %}
                                <li><b>County</b><span>{{ order.county }}</span></li>
                                {% endif %}
                                <li><b>Town or City</b><span>{{ order.town_or_city }}</span></li>
                                {% if order.postcode %}
                                <li><b>Post Code</b><span>{{ order.postcode }}</span></li>
                                {% endif %}
                                <li><b>Country</b><span>{{ order.country }}</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="lp-mb-30">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <ul class="lp-list">
                                <li><b>Order Total</b><span>{{ order.order_total }}</span></li>
                                <li><b>Delivery</b><span>{{ order.delivery_cost }}</span></li>
                                <li><b>Grand Total</b><span>{{ order.grand_total }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}