@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 16px;
    color: #231E41;
    position: relative;
}

.shadow-navbar {
    box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

hr {
    margin-top: 40px;
    margin-bottom: 30px;
}

.logo-font {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.main-logo-link {
    width: fit-content;
}

.main-logo-link img {
    height: 60px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-yellow {
    background-color: #F5C332;
    color: #231E41;
}

.btn-gray {
    background-color: #F2F3F5;
    color: #231E41;
}

.btn-black {
    background: black;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

.lp-text {
    color: #6F6F87;
    margin: 0;
    font-size: 15px;
}

.lp-text.lp-text-xs {
    font-size: 12px;
}

.lp-text.lp-text-sm {
    font-size: 14px;
}

.lp-text.lp-text-lg {
    font-size: 16px;
}

.lp-suptitle {
    display: inline-block;
    padding: 2px 5px;
    background-color: #F2F3F5;
    font-size: 12px;
    font-weight: 400;
    color: #231E41;
}

.lp-h1,
.lp-h2,
.lp-h3,
.lp-h4,
.lp-h5,
.lp-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.lp-h1,
h1 {
    line-height: 100%;
    font-size: 72px;
    letter-spacing: -3px;
}

.lp-h1 span,
h1 span {
    background-color: #F9FAFC;
}

.lp-h2,
h2 {
    line-height: 110%;
    font-size: 40px;
    letter-spacing: -2px;
}

.lp-h2 span,
h2 span {
    background-color: #F9FAFC;
}

.lp-h3,
h3 {
    line-height: 120%;
    font-size: 22px;
    letter-spacing: -1px;
}

.lp-h4,
h4 {
    line-height: 120%;
    font-size: 16px;
    letter-spacing: 0;
}

.lp-h5,
h5 {
    font-size: 14px;
    letter-spacing: 0;
}

.lp-title-lg {
    font-size: 100px;
}

.lp-ib-title-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lp-ib-title-frame i {
    color: #6F6F87;
    font-size: 10px;
    opacity: 0.5;
}

@media (max-width: 768px) {

    .lp-h1,
    h1 {
        font-size: 54px;
        letter-spacing: -2px;
    }

    .lp-h2,
    h2 {
        font-size: 36px;
        letter-spacing: -1px;
    }

    .lp-h3,
    h3 {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .lp-title-lg {
        font-size: 68px;
    }
}

@media (max-width: 450px) {

    .lp-h1,
    h1 {
        font-size: 46px;
    }

    .lp-h2,
    h2 {
        font-size: 28px;
    }

    .lp-h3,
    h3 {
        font-size: 18px;
    }
}

.lp-cate-title {
    font-size: 28px;
    letter-spacing: -1px;
}

.lp-signature {
    width: 160px;
}

.lp-404 {
    display: block;
    color: #F5C332;
    font-size: 56px;
    font-family: 'Monoton', cursive;
    margin-bottom: 10px;
}

.text-black {
    color: #231E41 !important;
}

.border-black {
    border: 1px solid black !important;
}

.p-60-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.form-control {
    border: 1px solid #F2F3F5;
    height: 50px;
    background-color: #eeeeee69;
}

.form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee;
}

.lp-logo-main-nav {
    width: 33.333%;
    display: flex;
    transition: 0.3s ease-in-out;
}

.lp-logo-main-nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lp-about-text,
.lp-blog-list,
.lp-features,
.lp-popular,
.lp-reviews,
.lp-short-menu,
.lp-team {
    position: relative;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 116px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 100px);
    }
}

@media (max-width: 768px) {
    .header-container {
        height: 90px;
    }
}

.acc-btn,
.cart-btn,
.menu-btn {
    height: 1.5rem;
}

.acc-btn:hover,
.cart-btn:hover,
.menu-btn:hover {
    transform: scale(1.15);
}

.btn-top-nav {
    background-color: #F5C332;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-top-nav-p {
    color: #231E41;
}

.lp-illustration-about {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 100%;
}

.lp-illustration-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* spaces */

.lp-mb-90 {
    margin-bottom: 90px !important;
}

.lp-mb-60 {
    margin-bottom: 60px !important;
}

.lp-mb-40 {
    margin-bottom: 40px !important;
}

.lp-mb-30 {
    margin-bottom: 30px !important;
}

.lp-mb-25 {
    margin-bottom: 25px !important;
}

.lp-mb-15 {
    margin-bottom: 15px !important;
}

.lp-mb-10 {
    margin-bottom: 10px !important;
}

.lp-mb-5 {
    margin-bottom: 5px !important;
}

.lp-p-210-90 {
    padding-top: 210px;
    padding-bottom: 90px;
}

.lp-p-90-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.lp-p-90-60 {
    padding-top: 90px !important;
    padding-bottom: 60px !important;
}

.lp-p-90-0 {
    padding-top: 90px !important;
}

.lp-p-0-90 {
    padding-bottom: 90px !important;
}

.lp-p-60-60 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.lp-p-90-30 {
    padding-top: 90px !important;
    padding-bottom: 30px !important;
}

.lp-p-30-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.lp-p-0-30 {
    padding-bottom: 30px;
}

.lp-p-60-0 {
    padding-top: 60px !important;
}

.lp-p-0-60 {
    padding-bottom: 60px !important;
}

.lp-p-60-30 {
    padding-top: 60px;
    padding-bottom: 30px;
}

.lp-m-0 {
    margin: 0 !important;
}

/* icon cart number */

.lp-cart-number {
    color: #231E41;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 20px;
    background-color: #F2F3F5;
    border-radius: 15px;
    height: 20px;
    padding: 0 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.lp-cart-number.lp-added {
    animation: addToCart 0.6s ease-in-out;
}

/* minicart */

.lp-minicart-content {
    position: relative;
    padding: 15px;
    height: 100%;
}

.lp-minicart-footer {
    border-top: solid 1px #F2F3F5;
    background-color: #FFFFFF;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.lp-minicart-footer .lp-btn {
    margin: 0;
}

.lp-minicart-footer .lp-btn:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
    .lp-minicart-content {
        padding: 10px;
    }

    .lp-minicart-footer {
        padding: 30px;
    }
}

/* add to cart button */

.lp-atc {
    overflow: hidden;
}

.lp-atc .lp-added-text {
    transition: 0.3s ease-in-out;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -100%;
    pointer-events: none;
}

.lp-atc .lp-add-to-cart-text {
    transition: 0.3s ease-in-out;
}

.lp-atc.lp-added {
    cursor: not-allowed;
    background-color: #F9FAFC;
}

.lp-atc.lp-added .lp-add-to-cart-text {
    opacity: 0;
}

.lp-atc.lp-added .lp-added-text {
    opacity: 1;
    right: 20px;
    pointer-events: all;
}

.lp-atc.lp-added:hover {
    filter: none;
}

.lp-menu-item .lp-card-buttons-frame {
    display: flex;
    justify-content: space-between;
}

.lp-menu-item .lp-card-buttons-frame .lp-btn {
    margin: 0;
}

.input-group {
    width: auto !important;
}

/* buttons */

.lp-btn {
    opacity: 1;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    transform: scale(1);
    height: 55px;
    letter-spacing: 0;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #F5C332;
    transition: 0.3s ease-in-out;
}

.lp-btn-top-nav {
    margin-right: 0;
    margin-bottom: 0;
}

.lp-btn-nav {
    opacity: 1;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    transform: scale(1);
    letter-spacing: 0;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.lp-btn .lp-icon {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 !important;
    margin: 0;
    width: 55px;
    height: 55px;
}

.lp-btn .lp-icon img {
    width: 22px;
}

.lp-btn span {
    white-space: nowrap;
    line-height: 55px;
    display: inline-block;
    padding: 0 20px 0 0;
    font-weight: 500;
}

.lp-btn:hover {
    filter: brightness(110%);
}

.lp-btn.lp-btn-gray {
    background-color: #F9FAFC;
    box-shadow: 0 0 0 2px #FFFFFF;
}

.lp-btn.lp-btn-gray:hover {
    filter: brightness(102%);
}

.lp-btn.lp-btn-2 {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.lp-btn.lp-btn-2 .lp-icon {
    background-color: #F5C332;
    transform: scale(0.95);
}

.lp-btn.lp-btn-2 span {
    padding: 0 0 0 15px;
}

.lp-btn.lp-btn-2.lp-btn-gray {
    background-color: transparent;
}

.lp-btn.lp-btn-2.lp-btn-gray .lp-icon {
    background-color: #F2F3F5;
    box-shadow: 0 0 0 2px #FFFFFF;
}

.lp-btn.lp-btn-2.lp-btn-gray:hover {
    filter: brightness(102%);
}

.lp-btn.lp-btn-icon .lp-icon {
    background-color: #F5C332;
    transform: scale(0.95);
}

.lp-btn.lp-btn-icon.lp-btn-gray {
    background-color: transparent;
}

.lp-btn.lp-btn-icon.lp-btn-gray .lp-icon {
    background-color: #F2F3F5;
}

.lp-btn.lp-btn-icon.lp-btn-gray:hover {
    filter: brightness(102%);
}

.lp-btn.lp-btn-text {
    background-color: #F5C332;
}

.lp-btn.lp-btn-text .lp-icon {
    background-color: #F5C332;
    transform: scale(0.95);
}

.lp-btn.lp-btn-text span {
    padding: 0 20px;
}

.lp-btn.lp-btn-text.lp-btn-gray {
    background-color: #F2F3F5;
}

.lp-btn.lp-btn-text.lp-btn-gray .lp-icon {
    background-color: #F2F3F5;
}

.lp-btn.lp-btn-text.lp-btn-gray:hover {
    filter: brightness(102%);
}

.lp-btn:focus {
    outline: inherit;
}

@media (max-width: 340px) {
    .lp-btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .lp-btn-nav {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.lp-menu-item .lp-card-tp {
    margin-bottom: 15px;
    padding-left: 10px;
    background-color: #F2F3F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lp-menu-item .lp-card-tp .lp-card-title {
    width: calc(100% - 90px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.lp-menu-item .lp-card-tp .lp-price {
    width: 60px;
    height: 60px;
    font-weight: 500;
    background-color: #F5C332;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* filter */


.lp-filter {
    margin-bottom: 60px;
}

.lp-filter .lp-filter-link {
    padding: 0 20px;
    font-weight: 500;
    line-height: 55px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    height: 55px;
    font-size: 14px;
    margin-right: 10px;
    background-color: #F2F3F5;
    transition: 0.3s ease-in-out;
    color: #6F6F87;
}

.lp-filter .lp-filter-link:last-child {
    margin-right: 0;
}

.lp-filter .lp-filter-link.lp-active {
    background-color: #F5C332;
    color: #231E41;
}

.lp-filter .lp-filter-link:hover {
    filter: brightness(102%);
    color: #231E41;
}

@media (max-width: 768px) {
    .lp-filter {
        margin-bottom: 60px;
    }

    .lp-filter .lp-filter-link {
        display: block;
        margin-right: 0;
    }

    .lp-btn .lp-icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/* grid */


.lp-masonry-grid {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}

.lp-masonry-grid .lp-grid-item {
    padding: 0 15px;
    width: 100%;
}

.lp-masonry-grid .lp-grid-item.lp-item-25 {
    width: 25%;
    padding: 0 15px;
}

.lp-masonry-grid .lp-grid-item.lp-item-33 {
    width: 33.333%;
    padding: 0 15px;
}

.lp-masonry-grid .lp-grid-item.lp-item-50 {
    width: 50%;
    padding: 0 15px;
}

.grid-sizer {
    width: 100%;
}

@media (max-width: 992px) {
    .lp-masonry-grid .lp-grid-item.lp-item-25 {
        width: 33.333%;
    }

    .lp-masonry-grid .lp-grid-item.lp-item-33 {
        width: 50%;
    }

    .lp-masonry-grid .lp-grid-item.lp-item-50 {
        width: 50%;
    }

    .nav-item {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .lp-masonry-grid .lp-grid-item.lp-item-25 {
        width: 100%;
    }

    .lp-masonry-grid .lp-grid-item.lp-item-33 {
        width: 100%;
    }

    .lp-masonry-grid .lp-grid-item.lp-item-50 {
        width: 100%;
    }
}

/* stars */


.lp-stars {
    padding: 0;
    display: flex;
}

.lp-stars li .full {
    margin-right: 5px;
    color: #F5C332;
    font-size: 14px;
}

.lp-stars li .empty {
    color: #F2F3F5;
    filter: brightness(95%);
}

.lp-stars li span {
    font-size: 12px;
    color: #6F6F87;
    white-space: nowrap;
}

.lp-stars.lp-unrated li {
    color: #FFFFFF !important;
    text-shadow: 0 0 1px #6F6F87;
}

.lp-stars.lp-unrated li span {
    text-shadow: none;
}

.lp-description {
    margin-bottom: 15px;
}

/* badge */


.lp-badge {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    background-color: #F5C332;
    padding: 3px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.lp-badge i {
    font-size: 11px;
    margin-right: 5px;
}

.lp-badge.lp-vegan {
    background-color: #9CCC65;
}

.lp-badge.lp-hot {
    background-color: #FF5252;
}

/* banner */


.lp-banner .lp-banner-with-bg {
    position: relative;
    overflow: hidden;
}

.lp-banner .lp-banner-with-bg .lp-bg-banner {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}

.lp-banner .lp-banner-with-bg .lp-bg-banner img {
    position: absolute;
    top: 180px;
    right: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    animation: zoom 40s infinite ease-in-out;
}

.lp-banner .lp-main-title-frame {
    /* padding-top: 7vh; */
    display: flex;
    align-items: center;
    height: 100vh;
}

.lp-banner .lp-main-title-frame .lp-main-title {
    width: 100%;
}

.lp-banner.lp-banner-sm .lp-main-title-frame {
    height: auto;
    padding: 210px 0 90px;
}

.lp-banner.lp-banner-xs .lp-main-title-frame {
    height: auto;
    padding: 210px 0 90px;
}

.lp-banner.lp-banner-xs .lp-main-title-frame .lp-main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lp-banner.lp-banner-color {
    background-color: #F9FAFC;
    border-left: solid 30px #FFFFFF;
    border-right: solid 30px #FFFFFF;
}

@media (max-width: 992px) {
    .lp-banner.lp-banner-with-bg {
        position: relative;
        overflow: hidden;
        padding-bottom: 30vh;
    }

    .lp-banner.lp-banner-with-bg .lp-bg-banner {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
    }

    .lp-banner.lp-banner-with-bg .lp-bg-banner img {
        transform: rotate(90deg);
        position: absolute;
        right: 0;
        left: 0;
        right: auto;
        top: 0;
        height: 150%;
        width: 100vh;
        object-fit: cover;
        object-position: left;
    }

    .lp-banner .lp-main-title-frame {
        height: auto;
        padding: 150px 0 30px;
    }

    .lp-banner .lp-main-title-frame .lp-main-title {
        text-align: center;
    }

    .lp-banner.lp-banner-sm .lp-main-title-frame {
        height: auto;
        padding: 150px 0 60px;
    }

    .lp-banner.lp-banner-xs .lp-main-title-frame {
        height: auto;
        padding: 150px 0 60px;
    }

    .lp-banner.lp-banner-xs .lp-main-title-frame .lp-main-title {
        flex-direction: column;
    }

    .lp-banner.lp-banner-xs .lp-main-title-frame .lp-main-title h1 {
        margin-bottom: 30px;
    }

    .lp-banner.lp-banner-color {
        background-color: #F9FAFC;
        border: none;
    }
}

@media (max-width: 500px) {
    .lp-banner.lp-banner-with-bg .lp-bg-banner img {
        height: 110%;
    }
}

/* features */


.lp-features-item {
    display: flex;
    position: relative;
    z-index: 2;
}

.lp-features-item .lp-number {
    min-width: 62px;
    margin-right: 30px;
    font-family: 'Monoton', cursive;
    color: #F5C332;
    font-size: 42px;
    line-height: 36px;
}

.lp-features-item.lp-features-item-sm {
    flex-direction: column;
}

.lp-features-item.lp-features-item-sm .lp-number {
    min-width: 30px;
    margin-right: 15px;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .lp-features-item {
        flex-direction: column;
        justify-content: flex-start;
    }

    .lp-features-item .lp-number {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
}

.lp-menu-item:focus {
    outline: inherit;
}

.lp-img-banner {
    position: relative;
    overflow: hidden;
    margin-top: 164px;
    height: 600px;
    width: 100%;
    float: right;
}

.lp-img-banner .lp-banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    bottom: 0;
    right: 0;
}

@media (max-width: 992px) {
    .lp-img-banner {
        margin-top: 0;
        height: auto;
        padding-bottom: 105%;
    }
}

/* categories */

.lp-categorie-card {
    display: block;
    background-color: #F9FAFC;
    box-shadow: 0 0 0 2px #FFFFFF;
    margin-bottom: 30px;
}

.lp-categorie-card .lp-card-body {
    text-align: center;
    padding: 30px;
    transition: 0.3s ease-in-out;
}

.lp-categorie-card .lp-card-body .lp-category-icon {
    margin: 0 auto;
    position: relative;
    width: 110px;
    height: 110px;
    margin-bottom: 30px;
}

.lp-categorie-card .lp-card-body .lp-category-icon:before {
    content: "";
    background-color: #F5C332;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -15px;
    left: 25px;
    transition: 0.3s ease-in-out;
}

.lp-categorie-card .lp-card-body .lp-category-icon img {
    position: relative;
    width: 90px;
    transition: 0.3s ease-in-out;
}

.lp-categorie-card:hover .lp-card-body .lp-category-icon:before {
    transform: scale(1.2);
    bottom: 0;
}

.lp-categorie-card:hover .lp-card-body .lp-category-icon img {
    transform: translateY(-10px);
}

.lp-categorie-card.lp-categorie-card-2 .lp-card-body {
    text-align: left;
    display: flex;
    align-items: center;
}

.lp-categorie-card.lp-categorie-card-2 .lp-card-body .lp-category-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 0;
}

.lp-categorie-card.lp-categorie-card-2 .lp-card-body .lp-category-icon:before {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -5px;
    left: 15px;
}

.lp-categorie-card.lp-categorie-card-2 .lp-card-body .lp-category-icon img {
    width: 60px;
}

.lp-categorie-card.lp-categorie-card-2 .lp-card-body .lp-card-descr {
    padding-left: 30px;
}

/* menu item */


.lp-gallery-item {
    position: relative;
    overflow: hidden;
    padding-bottom: 65%;
    border: solid 1px #eee;
}

.lp-gallery-item>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.001);
    transition: 0.3s ease-in-out;
}

.lp-gallery-item .lp-zoom {
    opacity: 0;
    transform: scale(0.5);
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.lp-gallery-item.lp-gallery-vert {
    padding-bottom: 120%;
}

.lp-gallery-item.lp-gallery-square {
    padding-bottom: 100%;
}

.lp-gallery-item:hover>img {
    transform: scale(1.05);
}

.lp-gallery-item:hover .lp-zoom {
    transform: scale(1);
    opacity: 1;
}

.lp-item-50 .lp-gallery-item.lp-gallery-vert {
    padding-bottom: 136%;
}

.lp-menu-section {
    position: relative;
}

.lp-product-description .lp-price-frame {
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9FAFC;
}

.lp-product-description .lp-price-frame .lp-price {
    height: 70px;
    background-color: #F5C332;
    padding: 0 20px;
    font-weight: 500;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-input-number-frame input {
    margin: 0 5px;
    text-align: center;
    height: 50px;
    width: 60px;
    background-color: #F9FAFC;
    position: relative;
    padding: 0 20px;
    display: block;
    border: none;
}

.lp-product-description .lp-buttons-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lp-product-description .lp-buttons-frame .lp-input-number-frame {
    margin-bottom: 10px;
    margin-right: 15px;
}

/* cart */


.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}

.lp-cart-separator-end {
    border-bottom: solid 1px #F2F3F5;
}

.lp-cart-separator-start {
    border-top: solid 1px #F2F3F5;
}

.lp-co-cart-frame {
    padding: 30px;
    background-color: #F9FAFC;
}

.cart-items {
    margin: auto;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
}

.image-box img {
    height: 120px;
}

.lp-product {
    display: flex;
    align-items: center;
}

.lp-cover-frame img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.lp-prod-description {
    padding-left: 15px;
    width: calc(100% - 90px);
}

.lp-prod-description h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.lp-input-number-frame {
    display: flex;
    align-items: center;
}

.lp-input-number-frame .lp-input-number-btn {
    border-radius: 50%;
    background-color: #F5C332;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: none;
    transition: 0.3s ease-in-out;
}

.lp-input-number-frame .lp-input-number-btn:hover {
    filter: brightness(110%);
}

.lp-input-number-frame .lp-input-number-btn:focus {
    outline: inherit;
}

.lp-input-number-frame input {
    margin: 0 5px;
    text-align: center;
    height: 50px;
    width: 60px;
    background-color: #F2F3F5;
    position: relative;
    padding: 0 20px;
    display: block;
    border: none;
}

.lp-input-number-frame input::-webkit-inner-spin-button,
.lp-input-number-frame input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lp-input-number-frame input:focus {
    outline: inherit;
}

.lp-remove,
.lp-update {
    cursor: pointer;
    text-align: center;
    background-color: #F2F3F5;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}

.lp-remove:hover,
.lp-update:hover {
    filter: brightness(102%);
}

.lp-price-1 {
    color: #6F6F87;
    font-size: 14px;
}

.lp-price-1 span {
    display: none;
}

.lp-price-2 {
    color: #231E41;
    font-weight: 500;
    font-size: 14px;
}

.lp-price-2 span {
    display: none;
}

.lp-cart-table .lp-cart-table-header {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
}

.lp-cart-table .lp-cart-item {
    padding: 15px 0;
    margin-bottom: 15px;
    border-top: solid 1px #F2F3F5;
    border-bottom: solid 1px #F2F3F5;
}

.lp-cart-table .lp-cart-item .lp-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.lp-cart-total {
    padding: 30px 0;
    border-top: solid 1px #F2F3F5;
    border-bottom: solid 1px #F2F3F5;
}

.lp-cart-total .lp-sum {
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 0;
}

.lp-cart-total .lp-sum .lp-price-1 {
    font-weight: 400;
}

.lp-cart-total .lp-realy-sum {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
}

.lp-cart-total .lp-realy-sum .lp-price-2 {
    font-weight: 600;
    font-size: 24px;
}

.lp-cart-total.lp-cart-total-2 {
    border: none;
    padding-top: 15px;
    padding-bottom: 0;
}

.lp-cart-total.lp-cart-total-2 .lp-realy-sum {
    font-size: 20px;
}

.lp-cart-total.lp-cart-total-2 .lp-realy-sum .lp-price-2 {
    font-size: 20px;
}

.lp-cart-btns-frame {
    padding: 15px 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #F2F3F5;
}

@media (max-width: 992px) {
    .lp-cart-table .lp-cart-table-header {
        display: none;
    }

    .lp-cart-table .lp-cart-item {
        position: relative;
    }

    .lp-cart-table .lp-cart-item .lp-product {
        align-items: flex-start;
        margin-bottom: 15px;
        flex-direction: column;
    }

    .lp-cart-table .lp-cart-item .lp-product .lp-cover-frame {
        margin-bottom: 15px;
    }

    .lp-cart-table .lp-cart-item .lp-product .lp-prod-description {
        padding-left: 0;
    }

    .lp-cart-table .lp-cart-item .lp-input-number-frame {
        margin-bottom: 15px;
    }

    .lp-cart-table .lp-cart-item .lp-price-1,
    .lp-cart-table .lp-cart-item .lp-price-2 {
        margin-bottom: 15px;
    }

    .lp-cart-table .lp-cart-item .lp-price-1 span,
    .lp-cart-table .lp-cart-item .lp-price-2 span {
        display: inline;
    }

    .lp-cart-table .lp-cart-item .lp-remove {
        position: absolute;
        top: 15px;
        right: 0;
    }
}

@media (max-width: 768px) {
    .lp-cart-btns-frame .lp-btn-gray {
        display: none;
    }
}

/* features */


.lp-square {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 80%;
    background-color: #F9FAFC;
}

.swiper {
    width: 600px;
    height: 300px;
}

/* slider navigation */


.container {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .swiper-container {
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #F2F3F5;
}

::-webkit-scrollbar-thumb {
    background: #F5C332;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.lp-slider-nav {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;
    margin-right: 15px;
}

.lp-slider-nav .lp-next-btn,
.lp-slider-nav .lp-prev-btn {
    height: 50px;
    width: 50px;
    font-size: 12px;
    border-radius: 50%;
    border: solid 2px #231E41;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.lp-slider-nav .lp-next-btn.swiper-button-disabled,
.lp-slider-nav .lp-prev-btn.swiper-button-disabled {
    opacity: 0.2;
}

.lp-slider-nav .lp-next-btn:focus,
.lp-slider-nav .lp-prev-btn:focus {
    outline: inherit;
}

/* group title */


.lp-group-title {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.lp-group-title .lp-left {
    width: 50%;
}

.lp-group-title .lp-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .lp-group-title {
        flex-direction: column;
    }

    .lp-group-title .lp-left {
        width: 100%;
    }

    .lp-group-title .lp-right {
        width: 100%;
        justify-content: space-between;
    }
}

/* menu */

.lp-menu-item {
    width: 100%;
    display: block;
}

.lp-menu-item .lp-cover-frame {
    display: block;
    background-color: #F2F3F5;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;
    transition: 0.3s ease-in-out;
}

.lp-menu-item .lp-cover-frame img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    transform: scale(1.001);
    transition: 0.3s ease-in-out;
}

.lp-menu-item .lp-card-tp {
    margin-bottom: 15px;
    padding-left: 10px;
    background-color: #F2F3F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lp-menu-item .lp-card-tp .lp-card-title {
    width: calc(100% - 90px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.lp-menu-item .lp-card-tp .lp-price {
    width: 80px;
    height: 60px;
    font-weight: 400;
    background-color: #F5C332;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-menu-item .lp-card-tp .lp-price-menu {
    width: 90px;
    height: 60px;
    font-weight: 400;
    background-color: #F5C332;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-menu-item .lp-card-buttons-frame {
    display: flex;
    justify-content: space-between;
}

.lp-menu-item .lp-card-buttons-frame .lp-btn {
    margin: 0;
}

.lp-menu-item.lp-menu-item-sm {
    display: flex;
    justify-content: space-between;
}

.lp-menu-item.lp-menu-item-sm .lp-cover-frame {
    width: 60px;
    height: 60px;
    padding-bottom: 0;
}

.lp-menu-item.lp-menu-item-sm .lp-card-tp {
    width: calc(100% - 60px);
    box-shadow: none;
}

.lp-menu-item.lp-menu-item-sm .lp-card-tp .lp-card-title {
    font-size: 14px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.lp-menu-item.lp-menu-item-sm .lp-card-tp .lp-price {
    font-size: 18px;
}

.lp-menu-item:hover .lp-cover-frame img {
    transform: scale(1.05);
}

.lp-menu-item:focus {
    outline: inherit;
}

/* tabs */

.lp-tab {
    width: 100%;
    margin-bottom: 90px;
}

.lp-tab .lp-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    grid-column-gap: 30px;
}

@media (max-width: 768px) {
    .lp-tab {
        width: 100%;
        margin-bottom: 90px;
    }

    .lp-tab .lp-list {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(100, auto);
        grid-column-gap: 0;
    }
}

/* badge */

.lp-badge {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    background-color: #F5C332;
    padding: 3px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.lp-badge i {
    font-size: 11px;
    margin-right: 5px;
}

.lp-badge.lp-vegan {
    background-color: #9CCC65;
}

.lp-badge.lp-hot {
    background-color: #FF5252;
}

/* footer */

footer {
    border-top: solid 1px #F2F3F5;
    position: relative;
    background-color: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

footer .lp-footer-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

footer .lp-footer-frame .lp-logo-frame {
    width: 33.333%;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

footer .lp-footer-frame .lp-logo-frame img {
    width: 35px;
}

footer .lp-footer-frame .lp-logo-frame:hover {
    filter: brightness(110%);
}

footer .lp-footer-frame .lp-copy {
    text-align: right;
    width: 33.333%;
    font-size: 12px;
    color: #6F6F87;
}

footer .lp-footer-frame .lp-links-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 992px) {
    footer .lp-footer-frame {
        padding: 30px 0;
        height: auto;
        flex-direction: column;
    }

    footer .lp-footer-frame .lp-logo-frame {
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }

    footer .lp-footer-frame .lp-social {
        width: 100%;
        margin-bottom: 30px;
    }

    footer .lp-footer-frame .lp-links-footer {
        width: 100%;
        margin-bottom: 30px;
    }

    footer .lp-footer-frame .lp-copy {
        width: 100%;
        text-align: center;
    }
}

/* social icons */

.lp-social {
    width: 33.333%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.lp-social li {
    margin-right: 15px;
}

.lp-social li a {
    transition: 0.3s ease-in-out;
    font-size: 1.5rem;
}

.lp-social li a:hover {
    color: #F5C332;
}

.lp-social li:last-child {
    margin-right: 0;
}

/* toasts messages */

.message-container {
    position: fixed;
    border-radius: 10%;
    top: 116px;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: o;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* allauth */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 14px;
    background-color: #F2F3F5;
    display: block;
    width: 100%;
    border: none;
    border: solid 1px #F2F3F5;
}

.allauth-form-inner-content .form-group .form-check {
    margin-bottom: 4rem;
}

.allauth-form-inner-content .form-group input[type=checkbox] {
    height: 14px;
    left: 20px;
    top: 15px;
    transition: 0.3s ease-in-out;
    margin-bottom: 1.5rem;
}

.allauth-form-inner-content label {
    font-size: 14px;
    color: #343a40;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 15px;
    transition: 0.3s ease-in-out;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #343a40;
}

.allauth-form-inner-content a {
    color: #231E41;
}

.lp-allauth {
    display: block;
    background-color: #F9FAFC;
    box-shadow: 0 0 0 2px #FFFFFF;
    margin-bottom: 30px;
}

.lp-allauth .lp-allauth-body {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    transition: 0.3s ease-in-out;
}

.parent{
    height: 120%;
}
.parent>.row{
    display: flex;
    align-items: center;
    height: 100%;
}
.col img{
    cursor: pointer;
    transition: transform 1s;
    object-fit: cover;
}
.col label{
    overflow: hidden;
    position: relative;
}

@media (max-width: 992px) {
    .lp-allauth .lp-allauth-body {
        text-align: center;
        background-color: #fff;
        padding: 30px;
        transition: 0.3s ease-in-out;
        max-width: 100%!important;
    } 
}
