{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'about/css/reservation.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-about-text lp-p-90-0">
    <div class="lp-bg-2" style="margin-top: 90px">
        <div></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lp-main-title-frame">
                    <div class="lp-main-title">
                        <span class="lp-suptitle lp-mb-30">Looks like we're not here.</span>
                        <h1 class="lp-mb-30">Oops...! <br>Looks like <br>Luigi got lost!</h1>
                        <p class="lp-text lp-text-lg lp-mb-30">We went to search for him.<br>Meanwhile take a look at our menu!</p>
                        <a href="{% url 'home' %}" class="lp-btn lp-btn-gray bg-light mr-5">
                            <span class="lp-icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Back Home</span>
                        </a>
                        <a href="{% url 'home' %}" class="lp-btn lp-btn-gray bg-warning">
                            <span class="lp-icon">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                            <span class="font-weight-bold">Our Menu</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center lp-mb-60">
                <img src="{{ MEDIA_URL }}404.svg" alt="Error 404">
            </div>
        </div>
    </div>
</section>
{% endblock %}

