<footer>
    <div class="container">
        <div class="lp-footer-frame">
            <a href="#" class="lp-logo-frame">
                <h4 class="logo-font text-black my-0"><img src="{{ MEDIA_URL }}logo-slice-1.png" alt="Pizza slice">
                    <strong>Luigi's</strong> Pizza</h4>
            </a>
            <ul class="lp-social">
                <li><a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
            <ul class="lp-links-footer">
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'terms_conditions' %}">Terms & Conditions</a></li>
            </ul>
            <div class="lp-copy">&copy; 2023 Luigi's Pizza. All Rights Reserved.</div>
        </div>
    </div>
</footer>