<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold lp-btn-nav text-black mr-5" href="{% url 'home' %}" id="home" aria-haspopup="true"
                aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold lp-btn-nav text-black mr-5" href="#" id="about-us-link"
                aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold text-black lp-btn-nav mr-5" href="#" id="order-now"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order Now
                </a>
            <div class="dropdown-menu border-0" aria-labelledby="order-link">
                <a href="{% url 'menu' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'menu' %}" class="dropdown-item">Pizza</a>
                <a href="{% url 'menu' %}" class="dropdown-item">Sides</a>
                <a href="{% url 'menu' %}" class="dropdown-item">Dessert</a>
                <a href="{% url 'menu' %}" class="dropdown-item">Drinks</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold lp-btn-nav text-black" href="#" id="contact" aria-haspopup="true"
                aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>