{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="lp-main-title-frame">
  <h2 class="lp-main-title lp-mb-30">{% trans "Sign In" %}</h2>
</div>
<p class="lp-text-lg">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="d-flex justify-content-between">
    <a href="{% url 'home' %}" class="lp-btn lp-btn-2 lp-btn-gray">
        <span class="lp-icon">
            <img src="{{ MEDIA_URL }}arrow.svg" alt="icon">
        </span>
        <span>Home</span>
    </a>
    <button class="primaryAction lp-btn" type="submit">
      <span class="lp-icon"><i class="fa-regular fa-user"></i></span>
      <span>{% trans 'Sign Out' %}</span>
    </button>
  </div>
</form>


{% endblock %}
