{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="lp-text-lg">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-between">
            <a href="{% url 'account_login' %}" class="lp-btn lp-btn-2 lp-btn-gray">
                <span class="lp-icon">
                    <img src="{{ MEDIA_URL }}/media/arrow.svg" alt="icon">
                </span>
                <span>Back to login</span>
            </a>
            <button class="primaryAction lp-btn" type="submit"name="action">
                <span class="lp-icon"><i class="fa-solid fa-key"></i></span>
                <span>{% trans "Change Password" %}</span>
            </button>
              
            </button>
          </div>
    </form>
{% endblock %}
