.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.lp-checkout-form {
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  padding: 30px;
}

.lp-sidebar-frame {
  width: 100%;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.1);
}

.lp-cart-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.lp-sidebar-frame .lp-sidebar {
  border: dotted 3px #F2F3F5;
  padding: 30px;
}

@media (max-width: 992px) {
  .lp-sidebar-frame.lp-pad-type-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .lp-sidebar-frame.lp-pad-type-2 {
    margin-top: 90px;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .lp-sidebar-frame .lp-sidebar {
    border: none;
    padding: 0;
  }
}

.lp-co-cart-frame {
  padding: 30px;
  background-color: #F9FAFC;
}

.lp-co-product {
  display: flex;
  align-items: center;
}

.lp-co-product .lp-co-cover-frame {
  position: relative;
  width: 90px;
  padding-bottom: 90px;
}

.lp-co-product .lp-co-cover-frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.lp-co-product .lp-co-prod-description {
  padding-left: 15px;
  width: calc(100% - 90px);
}

@media (max-width: 992px) {
  .lp-checkout-form {
    margin-bottom: 90px;
  }
}

.lp-group-input {
  position: relative;
  margin-bottom: 30px;
}

.lp-group-input.lp-group-with-btn button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  border: none;
  background-color: #F5C332;
  transition: 0.3s ease-in-out;
}

.lp-group-input.lp-group-with-btn button img {
  width: 20px;
}

.lp-group-input.lp-group-with-btn button:hover {
  filter: brightness(110%);
}

.lp-group-input input,
.lp-group-input textarea {
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 14px;
  background-color: #F9FAFC;
  display: block;
  width: 100%;
  border: none;
  border-bottom: solid 1px #F2F3F5;
}

.lp-group-input input:focus~.lp-bar:before,
.lp-group-input textarea:focus~.lp-bar:before {
  width: 100%;
}

.lp-group-input textarea {
  padding-top: 15px;
  height: 100px;
}

.lp-group-input input:focus,
.lp-group-input textarea:focus {
  outline: none;
}

.lp-group-input label {
  font-size: 14px;
  color: #6F6F87;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 15px;
  transition: 0.3s ease-in-out;
}

.lp-group-input input:focus~label,
.lp-group-input input:valid~label,
.lp-group-input textarea:focus~label,
.lp-group-input textarea:valid~label {
  top: -25px;
  left: 0;
  font-size: 12px;
  color: #231E41;
}

.lp-group-input input:valid~label:after {
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  color: #F5C332;
}

#payment-form .form-control,
#card-element {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 50px;
  background-color: #eeeeee69;
  border-radius: 0;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 50px;
  background-color: #eeeeee69;
  border-radius: 0;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6F6F87;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6F6F87;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6F6F87;
}

.form-control:focus {
  border: none;
  border-bottom: 1px solid #F5C332;
  height: 50px;
  background-color: #eeeeee69;
  border-radius: 0;
}

  /* Spinner - from https://loading.io/ */
  #loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.742);
    z-index: 9999;
  }
  
  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
  }