{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'about/css/reservation.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lp-main-title-frame">
                    <div class="lp-main-title">
                        <span class="lp-suptitle lp-mb-30">Bookings Management</span>
                        <p class="lp-text lp-text-lg lp-mb-30">All the bookings on this page are future bookings.</p>
                        <a href="{% url 'home' %}" class="lp-btn lp-btn-gray bg-light">
                            <span class="lp-icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Back Home</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table  class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name:</th>
                            <th scope="col">Phone:</th>
                            <th scope="col">Guests:</th>
                            <th scope="col">Date:</th>
                            <th scope="col">Time:</th>
                            <th scope="col">Status:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.name }}</td>
                            <td>{{ booking.phone }}</td>
                            <td>{{ booking.no_of_guests }}</td>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.time }}</td>
                            <td>{{ booking.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}