{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-p-90-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="lp-contact-form-frame">
                    <div class="lp-form-content">
                        <div class="lp-main-content">
                            <h3 class="lp-mb-30">Reservation details:</h3>
                            <p class="lp-text lp-text-sm">A confirmation email will be sent to <strong>{{ reservation.email }}</strong></p>
                            <div class="mx-3">
                                <p class="text-left mb-2">Name: <strong>{{ reservation.name }}</strong></p>
                                <p class="text-left mb-2">Guests: <strong>{{ reservation.no_of_guests }}</strong></p>
                                <p class="text-left mb-2">Date: <strong>{{ reservation.date }}</strong></p>
                                <p class="text-left mb-2">Time: <strong>{{ reservation.time }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
