{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-menu-section lp-p-90-60">
  <div class="container">
    <!-- filter -->
    <div class="lp-filter mb-30">
      <a class="lp-filter-link lp-active" data-filter="*">See all</a>
      {% for category in categories %}
      <a class="lp-filter-link" data-filter=".{{ category|lower }}">{{ category.friendly_name }}</a>
      {% endfor %}
    </div>
    <!-- filter end -->
    <div class="lp-masonry-grid">
      <div class="lp-grid-sizer"></div>
      {% for product in products %}
      <div class="lp-grid-item lp-item-33 {{ product.category|lower }}">
        <div class="lp-menu-item lp-mb-30">
          {% if product.image %}
          <div class="lp-cover-frame">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% if product.vegetarian == True %}
            <div class="lp-badge lp-vegan"><i class="fas fa-leaf"></i> Vegeterian</div>
            {% elif product.spicy == True %}
            <div class="lp-badge lp-hot"><i class="fas fa-pepper-hot"></i> Spicy</div>
            {% else %}
            {% endif %}
          </div>
          {% else %}
          <div class="lp-cover-frame">
            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
          </div>
          {% endif %}
          <div class="lp-card-tp">
            <h4 class="lp-card-title">{{ product.name }}</h4>
            <div class="lp-price-menu">${{ product.price }}</div>
          </div>
          {% if user.is_superuser %}
          <div class="mb-2 mt-2 d-flex justify-content-between">
            <a class="p-1 bg-primary text-white" href="{% url 'edit_product' product.id %}">Edit Product</a>
            <a class="p-1 bg-danger text-white" href="{% url 'delete_product' product.id %}">Delete Product</a>
          </div>
          {% endif %}
          <div class="lp-description">
            <p class="lp-text lp-mb-15"><span>{{ product.ingredients|truncatechars:100 }}</span></p>
            {% if average_rating.rating %}
            <ul class="lp-stars">
              <li><i class="fas fa-star {% if average_rating.rating > 0 %} full {% else %} empty {% endif %}"></i></li>
              <li><i class="fas fa-star {% if average_rating.rating > 1 %} full {% else %} empty {% endif %}"></i></li>
              <li><i class="fas fa-star {% if average_rating.rating > 2 %} full {% else %} empty {% endif %}"></i></li>
              <li><i class="fas fa-star {% if average_rating.rating > 3 %} full {% else %} empty {% endif %}"></i></li>
              <li><i class="fas fa-star {% if average_rating.rating > 4 %} full {% else %} empty {% endif %}"></i></li>
              <li><span>{{ average_rating.rating|floatformat }} out of 5.0</span></li>
            </ul>
            {% else %}
            <ul class="lp-stars">
              <li><i class="fas fa-star empty"></i></li>
              <li><i class="fas fa-star empty"></i></li>
              <li><i class="fas fa-star empty"></i></li>
              <li><i class="fas fa-star empty"></i></li>
              <li><i class="fas fa-star empty"></i></li>
              <li><span>Sorry, not rated yet!</span></li>
            </ul>
            {% endif %}
          </div>
          <div class="lp-card-buttons-frame">
            <!-- button -->
            <a href="{% url 'menu_item' product.id %}" class="lp-btn lp-btn-gray">
              <span class="lp-icon">
                <img src="/media/arrow.svg" alt="icon">
              </span>
              <span>Details</span>
            </a>
            <!-- button end -->
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
              {% csrf_token %}
              <div class="form-group lp-buttons-frame">
                <button type="submit" class="lp-btn lp-atc">
                  <span class="lp-icon">
                    <img src="/media/cart.svg" alt="icon">
                  </span>
                  <span class="lp-add-to-cart-text">Add to cart</span>
                  <span class="lp-added-text">Added</span>
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/isotope_menu.html' %}
{% include 'products/includes/ajax_add_review.html' %}
{% endblock %}