{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="lp-p-90-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="lp-gallery-item lp-gallery-square lp-mb-90">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
          {% if product.vegetarian == True %}
          <div class="lp-badge lp-vegan"><i class="fas fa-leaf"></i> Vegeterian</div>
          {% elif product.spicy == True %}
          <div class="lp-badge lp-hot"><i class="fas fa-pepper-hot"></i> Spicy</div>
          {% else %}
          {% endif %}
          {% endif %}
          <!-- button -->
          <a data-fancybox="menu" data-no-swup href="img/menu/4.jpg"
            class="lp-btn lp-btn-2 lp-btn-icon lp-btn-gray lp-zoom">
            <span class="lp-icon">
              <img src="/media/zoom.svg" alt="icon">
            </span>
          </a>
          <!-- button end -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="lp-product-description lp-mb-90">
          <div class="lp-price-frame lp-mb-30">
            <h2>{{ product.name }}</h2>
            <div class="lp-price">{{ product.price }} €</div>
          </div>
          {% if product.rating %}
          <ul class="lp-stars lp-mb-25">
            <li><i class="fas fa-star {% if product.rating > 0 %} full {% else %} empty {% endif %}"></i></li>
            <li><i class="fas fa-star {% if product.rating > 1 %} full {% else %} empty {% endif %}"></i></li>
            <li><i class="fas fa-star {% if product.rating > 2 %} full {% else %} empty {% endif %}"></i></li>
            <li><i class="fas fa-star {% if product.rating > 3 %} full {% else %} empty {% endif %}"></i></li>
            <li><i class="fas fa-star {% if product.rating > 4 %} full {% else %} empty {% endif %}"></i></li>
            <li><span>{{ product.rating }} / 5</span></li>
          </ul>
          {% else %}
          <ul class="lp-stars lp-mb-25">
            <li><i class="fas fa-star empty"></i></li>
            <li><i class="fas fa-star empty"></i></li>
            <li><i class="fas fa-star empty"></i></li>
            <li><i class="fas fa-star empty"></i></li>
            <li><i class="fas fa-star empty"></i></li>
            <li><span>Sorry, not rated yet!</span></li>
          </ul>
          {% endif %}
          <p class="lp-text lp-mb-30">{{ product.ingredients }}</p>
          <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            {% with product.has_size as s %}
          <div class="row">
            {% if s %}
            <select class="form-control form-control-lg lp-mb-30" name="product_size" id="id_product_size">
              <option class="col-lg-4" value="S" selected>
                <div class="lp-features-item lp-features-item-sm lp-mb-30">
                  <div class="lp-feature-text">
                    <h4 class="lp-mb-15">S</h4>
                  </div>
                </div>
              </option>
              <option class="col-lg-4" value="M">
                <div class="lp-features-item lp-features-item-sm lp-mb-30">
                  <div class="lp-feature-text">
                    <h4 class="lp-mb-15">M</h4>
                  </div>
                </div>
              </option>
              <option class="col-lg-4" value="L">
                <div class="lp-features-item lp-features-item-sm lp-mb-30">
                  <div class="lp-feature-text">
                    <h4 class="lp-mb-15">L</h4>
                  </div>
                </div>
              </option>
            </select>
          </div>
          {% endif %}
            <div class="form-group lp-buttons-frame">
              <div class="input-group lp-input-number-frame">
                <div class="input-group-prepend">
                  <button class="decrement-qty lp-input-number-btn" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                    <span>
                      <i class="fas fa-minus"></i>
                    </span>
                  </button>
                </div>
                <input class="form-control-sm qty_input" type="number" name="quantity" value="1" min="1" max="99"
                  data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                <div class="input-group-append">
                  <button class="increment-qty lp-input-number-btn" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                    <span>
                      <i class="fas fa-plus"></i>
                    </span>
                  </button>
                </div>
              </div>
              <button type="submit" class="lp-btn lp-atc">
                <span class="lp-icon">
                  <img src="/media/cart.svg" alt="icon">
                </span>
                <span class="lp-add-to-cart-text">Add to cart</span>
                <span class="lp-added-text">Added</span>
              </button>
              <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
            {% endwith %}
          </form>
        </div>
      </div>
    </div>
    <!-- filter -->
    <div class="lp-filter">
      <a data-filter=".lp-ingredients-tab" class="lp-filter-link lp-active">Ingredients</a>
      <a data-filter=".lp-details-tab" class="lp-filter-link">Description</a>
    </div>
    <!-- filter end -->
    <div class="lp-masonry-grid lp-tabs">
      <div class="lp-grid-sizer"></div>
      <div class="lp-grid-item lp-ingredients-tab">
        <div class="lp-tab">
          <ul class="lp-list">
            <li>{{ product.ingredients }}</li>
          </ul>
        </div>
      </div>
      <div class="lp-grid-item lp-details-tab" style="position: absolute">
        <div class="lp-tab">
          <p class="lp-text lp-mb-15">{{ product.description }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<footer>
  <div class="container">
    <div class="lp-footer-frame">
      <a href="#" class="lp-logo-frame">
        <!-- logo img -->
        <h4 class="logo-font text-black my-0"><img src="/media/logo-pizza.svg" alt="Pizza slice">
          <strong>Luigi's</strong> Pizza</h4>
      </a>
      <ul class="lp-social">
        <li><a href="#."><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#."><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#."><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#."><i class="fa-brands fa-youtube"></i></a></li>
      </ul>
      <div class="lp-copy">&copy; late 2021 Starbelly. All Rights Reserved.</div>
    </div>
  </div>
</footer>
<!-- footer end -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}